<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin-add-product" class="btn btn-success ml-auto">Add Product</a>
        </div>
        <table class="table table-bordered table-hover mt-5">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Address</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">phone.No</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.deliveryDetails.Address}}</td>
                    <td>{{this.deliveryDetails.Pincode}}</td>
                    <td>{{this.deliveryDetails.Mobile}}</td>
                    <td>{{this.totalAmount}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.status}}</td>
                    <td>
                        <a href="/view-order-products/{{this._id}}" class="btn btn-primary">View Products</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="8" class="text-center">No orders available</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
